<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <%= form_with(model: relationship, local: true) do |f| %>
            <div class="form-group">
                <%= f.label :secret_words, "秘密の言葉" %>
                <%= f.text_field :secret_words, class: "form-control" %>
            </div>
            
            <%= hidden_field_tag :name, "current_user.name" %>
            <%= hidden_field_tag :status, "承諾" %>
            
            <%= f.submit "承認する", class: "btn btn-primary btn-block" %>
        <% end %>
    </div>
</div>